body {
  background-color: #113F64;
}

.new-task-div {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input[type=text] {
  border: 2px solid #18578C;
  background-color: #C2DEF5;
  border-radius: 6px;
  background-image: url('./image/task.png');
  background-size: 20px;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: 40px;
  width: 180px;
  background-position: 10px center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

input[type=text]:focus {
  border: 2px solid #0A263D;
  border-radius: 6px;
  background-color: #9BC9EE;
}

input::placeholder {
  color: #696969;

}

button {
  background-color: #18578C;
  border: none;
  margin-left: 10px;
  height: 42px;
  width: 70px;
  font-size: 15px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

button:hover {
  background-color: #0A263D;
}

input[type='datetime-local'] {
  border: 2px solid #18578C;
  background-color: #C2DEF5;
  color: #696969;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 6px;
  height: 23px;
  padding: 10px;
  margin: 10px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}

.todo-list-display {
  background-color: #113F64;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: #113F64;
  cursor: pointer;
}


.task-card {
  display: grid;
  grid-template-columns: 60px 220px 200px 30px 5px 20px;
  align-items: center;
  background-color: #C2DEF5;
  border: 2px solid #18578C;
  border-radius: 10px;
  font-family: monospace;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  padding: 15px;
}

.task-datetime {
  border: none;
}

.calendar-img{
  width: 33px;
  height: 33px;
  object-fit: contain;
}

.dots-img{
  width: 25px;
  height: 25px;
  object-fit: contain;
  cursor: pointer;
}

.dots-option {
  position: relative;
  .hidden {
    display: none; 
    position: absolute;
  }
  .show {
    display: block; 
    position: absolute;
  }
}